header,
content,
main,
footer {
	width: 100%;
	clear: both;
}

.header01 {
	height: 200px;
	width: 33.33%;
	background-color: #976e6b;
	float: left;
}

.header02 {
	height: 200px;
	width: 33.33%;
	background-color: #8f251d;
	float: right;
}

.header03 {
	height: 200px;
	width: 33.33%;
	background-color: #ff1200;
	float: right;
}

.sidebar {
	width: 100%;
	clear: both;
}

.left{
	width: 66.66%;
	float: left;
}

.n01 {
	height: 300px;
	background-color: #af1c4e;
}

.right {
	float: right;
	width: 33.33%;
}

.n02 {
	height: 100px;
	background-color: #6a565d;
}

.n03 {
	height: 100px;
	background-color: #e16191;
}

.n04 {
	height: 100px;
	background-color: #1e060f;
}

.box1 {
	width: 33.33%;
	float: left;
}

#box1 {
	height: 300px;
	background-color: #5f05ff;
}

.box2_3 {
	float: left;
	width: 33.33%;
}

#box2 {
	height: 150px;
	background-color: #413654;
}


#box3 { 
	height: 150px;
	background-color: #ab8ae7;
}

.box4 {
	width: 33.33%;
	float: right;
}

#box4 { 
	height: 300px;
	background-color: #1686df;
}

.m1 {
	height: 300px;
	width: 66.66%;
	background-color: #1ad9c7;
	float: left;
}

.m2 {
	height: 300px;
	width: 33.33%;
	background-color: #addfda;
	float: right;
}

.one {
	float: left;
	width: 33.33%;
}

.foot1 {
	height: 100px;
	background-color: #0cf315;
}

.foot2 {
	height: 100px;
	background-color: #39563a;	
}

.foot3 {
	height: 100px;
	background-color: #8cfd09;
}

.two {
	float: left;
	width: 33.33%;
}

.foot4 {
	height: 150px;
	background-color: #45582f;
}

.foot5 {
	height: 150px;
	background-color: #f9e10b;
}

.three {
	float: right;
	width: 33.33%;

}

.foot6 {
	height: 75px;
	background-color: #ffbf00;
}

.foot7 {
	height: 75px;
	background-color: #8d2200;
}

.foot8 {
	height: 75px;
	background-color: #19a9ef;
}

.foot9 {
	height: 75px;
	background-color: #fd00fa99;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}