h1 {
	padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
    margin-bottom: 20px;
    font-size: 25px;
}

.form {
    margin: 5px;
    background: #EED;
    padding: 30px;
}

.Sign_in {
	color: blue;
}

#name {
	color: black;
	margin: 10px;
	padding: 1px 50px;
	text-align: center;
}

#pas {
	color: black;
	margin: 10px;
	padding: 1px 50px;
	text-align: center;
}

.Sign_in label,
.Sign_in intup {
	display: block;
}

input::placeholder {
	color: green;
	font-family: italic;
	font-style: italic;
	text-align: center;
}

.ratings {
	margin: 20px 1px 15px 1px;
	font-size: 19px;
	color: blue;
}

.rating label{
	display: block;
	margin: 8px;
}

.time {
	margin: 20px 1px 15px 1px;
	font-size: 19px;
	color: blue;
}

input[type="checkbox"] {
	margin: 5px;
}

.music {
	margin: 20px 1px 15px 1px;
	font-size: 19px;
	color: blue;
}

select[name="s"] {
	margin: 20px 1px 15px 1px;
	padding: 5px 6px ;
	background: #c9adad;
}

.amount {
	margin: 20px 1px 15px 1px;
	font-size: 19px;
	color: blue;
}

.number {
	margin: 20px 1px 10px 1px;;
	max-width: 200px;
}

.amount2 {
	margin: 20px 1px 15px 1px;
	font-size: 19px;
	color: blue;
}

.slider {
	-webkit-appearance: none;
	border: 1px solid#02031047;
	width: 300px;
	height: 10px;
	background-image: -webkit-linear-gradient(left,#8870ff 0%, #8870ff 25%, #fff 25%, #fff 100%);
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #0ded4acc;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	cursor: pointer;
}

.search {
	margin: 20px 1px 15px 1px;
	font-size: 19px;
	color: blue;
}

input[type="search"]{
	width: 25%;

}

.On {
	margin: 20px 1px 15px 1px;
	font-size: 19px;
	color: blue;
}

input[type="checkbox2"] {
	width: 200px;
	height: 100px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #f40202;
	outline: none;
	border-radius: 50px;
	transition: 0.6s;
	position: relative;
}

input:checked[type='checkbox2'] {
	background: blue;
}

input[type='checkbox2']::before {
	content: '';
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	top:  10px;
	left: 10px;
	background: radial-gradient(#fff, #f0f0f0);
	transform: scale(1.1);
	transition: 0.6s;
}

input:checked[type='checkbox2']::before {
	left: 110px;
}

.zest {
	margin: 20px 1px 15px 1px;
	font-size: 19px;
	color: blue;
}

textarea {
	height: 200px;
	width: 950px;
}
